<div class="container">
<section>

<section>
<h1>Marketing Materials</h1>
<div class="three_quarters float_left">
	<p>Below you'll find a collection of screenshots of Concur's currently deployed UI for both iOS and Android.</p></div>
<div class="quarter float_left"><p><a href="img/marketing/mobile_marketing_materials.zip" class="icon"><img src="img/icons_web/arrow_download.svg" height="25" width="25">Mobile App Screenshots<br><span>11.5 MB (.zip)</span></a></p>
</div>
</section>

<section>	

	<h2>iOS Screenshots</h2>
	<ul class="filterOptions">
		<li class="filter_all active" ng-click="myFilter = {}">All<span></span></li>
		<li class="filter_login" ng-click="myFilter = {category: 'Login'}">Login<span></span></li>
		<li class="filter_travel" ng-click="myFilter = {category: 'Travel'}">Travel<span></span></li>
		<li class="filter_expense" ng-click="myFilter = {category: 'Expense'}">Expense<span></span></li>	
	</ul>
	
	
	
	<div class="filterItemsContainer " ng-controller="iOSMarketingFilter">

		<div data-sr="ease-in, over .5s" ng-repeat="screenshot in screenshots | filter:myFilter" ng-animate=" 'animate' ">
			<img src="{{screenshot.url}}" alt="{{screenshot.title}}" width="338" height="599" />
<!--
			<div>
				<h4>Download</h4>
				<a href="{{screenshot.url}}" target="_blank" class="icon-download"></a>
			</div>	
-->		
				<h4>{{screenshot.title}}</h4>
				<p>{{screenshot.category}}</p>
		</div>


<!--
<ul class="img_block medium popup">
<li data-sr="ease-in, over .5s">
	<img src="img/icons_concur/add_to_report.svg" alt="Add to Reports">
	<div>
		<h4>Add to Reports</h4>
		<a href="img/icons_concur/pdf/icon_add_to_report.pdf" target="_blank" class="icon-download"></a>
	</div>			
</li>
<li data-sr="ease-in, over .5s">
	<img src="img/icons_concur/add_to.svg" alt="Add To">
	<div>
		<h4>Add To</h4>
		<a href="img/icons_concur/pdf/icon_add_to.pdf" target="_blank" class="icon-download"></a>
	</div>			
</li>
<li data-sr="ease-in, over .5s">
	<img src="img/icons_concur/add.svg" alt="Add">
	<div>
		<h4>Add</h4>
		<a href="img/icons_concur/pdf/icon_add.pdf" target="_blank" class="icon-download"></a>
	</div>			
</li>
<li data-sr="ease-in, over .5s">
	<img src="img/icons_concur/allocate.svg" alt="Allocate">
	<div>
		<h4>Allocate</h4>
		<a href="img/icons_concur/pdf/icon_allocate.pdf" target="_blank" class="icon-download"></a>
	</div>			
</li>
<li data-sr="ease-in, over .5s">
	<img src="img/icons_concur/approvals.svg" alt="Approvals">
	<div>
		<h4>Approvals</h4>
		<a href="img/icons_concur/pdf/icon_approvals.pdf" target="_blank" class="icon-download"></a>
	</div>			
</li>
</ul>
-->
	</div>
</section>
<section>	

	<h2>Android Screenshots</h2>
	<ul class="filterOptions">
		<li class="filter_all active" ng-click="myFilter = {}">All<span></span></li>
		<li class="filter_login" ng-click="myFilter = {category: 'Login'}">Login<span></span></li>
		<li class="filter_travel" ng-click="myFilter = {category: 'Travel'}">Travel<span></span></li>
		<li class="filter_expense" ng-click="myFilter = {category: 'Expense'}">Expense<span></span></li>	
	</ul>
		
	<div class="filterItemsContainer " ng-controller="AndrioidMarketingFilter">

		<div data-sr="ease-in, over .5s" ng-repeat="screenshot in screenshots | filter:myFilter" ng-animate=" 'animate' ">
			<img src="{{screenshot.url}}" alt="{{screenshot.title}}" width="338" height="599" />
				<h4>{{screenshot.title}}</h4>
				<p>{{screenshot.category}}</p>
		</div>
	</div>
</section>
</div>