<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AIRCRAFT</key>
	<dict>
		<key>AA-738</key>
		<string>mobile.seatguru.com/American_Airlines/Boeing_737-800_B/</string>
		<key>AA-757</key>
		<string>mobile.seatguru.com/American_Airlines/Boeing_757-200_B/</string>
		<key>AA-762</key>
		<string>mobile.seatguru.com/American_Airlines/Boeing_767-200/</string>
		<key>AA-763</key>
		<string>mobile.seatguru.com/American_Airlines/Boeing_767-200/</string>
		<key>AA-777</key>
		<string>mobile.seatguru.com/American_Airlines/Boeing_777-200_A/</string>
		<key>AA-AT7</key>
		<string>mobile.seatguru.com/American_Airlines/ATR72/</string>
		<key>B6-32E</key>
		<string>mobile.seatguru.com/JetBlue_Airways/Airbus_A320/</string>
		<key>FL-717</key>
		<string>mobile.seatguru.com/AirTran_Airways/Boeing_717-200/</string>
		<key>WN-733</key>
		<string>mobile.seatguru.com/Southwest_Airlines/Boeing_737-300/</string>
		<key>WN-735</key>
		<string>mobile.seatguru.com/Southwest_Airlines/Boeing_737-500/</string>
		<key>WN-73G</key>
		<string>mobile.seatguru.com/Southwest_Airlines/Boeing_737-700/</string>
	</dict>
	<key>AIRLINES</key>
	<dict>
		<key>AA</key>
		<string>www.americanairlines.com</string>
		<key>B6</key>
		<string>www.jetblue.com</string>
		<key>DL</key>
		<string>www.delta.com</string>
		<key>FL</key>
		<string>www.airtran.com</string>
		<key>UA</key>
		<string>www.united.com</string>
		<key>WN</key>
		<string>www.southwest.com</string>
	</dict>
	<key>AIRPORTS</key>
	<dict>
		<key>ATL</key>
		<string>www.airportterminalmaps.com/ATL-terminal-map.html</string>
		<key>AUS</key>
		<string>www.airportterminalmaps.com/AUS-terminal-map.html</string>
		<key>BDL</key>
		<string>www.airportterminalmaps.com/BDL-terminal-map.html</string>
		<key>BNA</key>
		<string>www.airportterminalmaps.com/BNA-terminal-map.html</string>
		<key>BOS</key>
		<string>www.airportterminalmaps.com/BOS-terminal-map.html</string>
		<key>BWI</key>
		<string>www.airportterminalmaps.com/BWI-terminal-map.html</string>
		<key>CLT</key>
		<string>www.airportterminalmaps.com/CLT-terminal-map.html</string>
		<key>CVG</key>
		<string>www.airportterminalmaps.com/CVG-terminal-map.html</string>
		<key>DCA</key>
		<string>www.airportterminalmaps.com/DCA-terminal-map.html</string>
		<key>DEN</key>
		<string>www.airportterminalmaps.com/DEN-terminal-map.html</string>
		<key>DFW</key>
		<string>www.airportterminalmaps.com/DFW-terminal-map.html</string>
		<key>DTW</key>
		<string>www.airportterminalmaps.com/DTW-terminal-map.html</string>
		<key>EWR</key>
		<string>www.airportterminalmaps.com/EWR-terminal-map.html</string>
		<key>FLL</key>
		<string>www.airportterminalmaps.com/FLL-terminal-map.html</string>
		<key>HNL</key>
		<string>www.airportterminalmaps.com/HNL-terminal-map.html</string>
		<key>HOU</key>
		<string>www.airportterminalmaps.com/HOU-terminal-map.html</string>
		<key>IAD</key>
		<string>www.airportterminalmaps.com/IAD-terminal-map.html</string>
		<key>IAH</key>
		<string>www.airportterminalmaps.com/IAH-terminal-map.html</string>
		<key>IND</key>
		<string>www.airportterminalmaps.com/IND-terminal-map.html</string>
		<key>JFK</key>
		<string>www.airportterminalmaps.com/JFK-terminal-map.html</string>
		<key>LAS</key>
		<string>www.airportterminalmaps.com/LAS-terminal-map.html</string>
		<key>LAX</key>
		<string>www.airportterminalmaps.com/LAX-terminal-map.html</string>
		<key>LGA</key>
		<string>www.airportterminalmaps.com/LGA-terminal-map.html</string>
		<key>MCI</key>
		<string>www.airportterminalmaps.com/MCI-terminal-map.html</string>
		<key>MCO</key>
		<string>www.airportterminalmaps.com/MCO-terminal-map.html</string>
		<key>MDW</key>
		<string>www.airportterminalmaps.com/MDW-terminal-map.html</string>
		<key>MEM</key>
		<string>www.airportterminalmaps.com/MEM-terminal-map.html</string>
		<key>MIA</key>
		<string>www.airportterminalmaps.com/MIA-terminal-map.html</string>
		<key>MSP</key>
		<string>www.airportterminalmaps.com/MSP-terminal-map.html</string>
		<key>MSY</key>
		<string>www.airportterminalmaps.com/MSY-terminal-map.html</string>
		<key>OAK</key>
		<string>www.airportterminalmaps.com/OAK-terminal-map.html</string>
		<key>ONT</key>
		<string>www.airportterminalmaps.com/ONT-terminal-map.html</string>
		<key>ORD</key>
		<string>www.airportterminalmaps.com/ORD-terminal-map.html</string>
		<key>PDX</key>
		<string>www.airportterminalmaps.com/PDX-terminal-map.html</string>
		<key>PHL</key>
		<string>www.airportterminalmaps.com/PHL-terminal-map.html</string>
		<key>PHX</key>
		<string>www.airportterminalmaps.com/PHX-terminal-map.html</string>
		<key>PIT</key>
		<string>www.airportterminalmaps.com/PIT-terminal-map.html</string>
		<key>RDU</key>
		<string>www.airportterminalmaps.com/RDU-terminal-map.html</string>
		<key>RSW</key>
		<string>www.airportterminalmaps.com/RSW-terminal-map.html</string>
		<key>SAC</key>
		<string>www.airportterminalmaps.com/SAC-terminal-map.html</string>
		<key>SAN</key>
		<string>www.airportterminalmaps.com/SAN-terminal-map.html</string>
		<key>SAT</key>
		<string>www.airportterminalmaps.com/SAT-terminal-map.html</string>
		<key>SEA</key>
		<string>www.airportterminalmaps.com/SEA-terminal-map.html</string>
		<key>SFO</key>
		<string>www.airportterminalmaps.com/SFO-terminal-map.html</string>
		<key>SLC</key>
		<string>www.airportterminalmaps.com/SLC-terminal-map.html</string>
		<key>SNA</key>
		<string>www.airportterminalmaps.com/SNA-terminal-map.html</string>
		<key>STL</key>
		<string>www.airportterminalmaps.com/STL-terminal-map.html</string>
		<key>TPA</key>
		<string>www.airportterminalmaps.com/TPA-terminal-map.html</string>
	</dict>
	<key>CAR_RENTERS</key>
	<dict>
		<key>ZE</key>
		<string>www.hertz.com</string>
		<key>ZI</key>
		<string>www.avis.com</string>
		<key>ZL</key>
		<string>www.nationalcar.com</string>
	</dict>
</dict>
</plist>
